<section id="timezone">
  <header>
    <h2>{{ i18n.timezone.title }}</h2>
    <p>{{ i18n.timezone.subtitle }}</p>
    <app-timezone />
  </header>
</section>

<section id="date-format">
  <header>
    <h2>{{ i18n.dateFormat.title }}</h2>
    <p>{{ i18n.dateFormat.subtitle }}</p>
    <app-date-format />
  </header>
</section>

<section id="default-view">
  <header>
    <h2>{{ i18n.defaultView.title }}</h2>
    <p>{{ i18n.defaultView.subtitle }}</p>
    <app-default-view />
  </header>
</section>

<section id="language">
  <header>
    <h2>{{ i18n.lang.title }}</h2>
    <p>{{ i18n.lang.subtitle }}</p>
    <app-lang />
  </header>

</section>
