<section id="timezone">
  <header>
    <h2>Timezone</h2>
    <p>Set your preferred timezone</p>
    <form [formRoot]="timeZoneForm">
      <app-stateful-combox-autocomplete-select [list]="ALL_COUNTRIES" />
    </form>

    <!-- <form [formRoot]="timeZoneForm">
      <input
        [formField]="timeZoneForm.timeZone"
        list="timezone-options"
        placeholder="Search timezone..."
      />
      <datalist id="timezone-options">
        @for (timezone of timezonesOptions; track timezone.value) {
          <option [value]="timezone.value">{{ timezone.label }}</option>
        }
      </datalist>
      <button type="submit">Save Timezone</button>
    </form> -->
  </header>


</section>
