<section class="dashboard">
  <aside class="dashboard__aside">
    <app-filter-tree [nodes]="treeNodes()"/>
  </aside>

  <div class="dashboard__content">
    <app-dashboard-toolbar/>

    <main class="dashboard__main">
      @if (effectiveView() === 'table') {
        <app-event-table [events]="filteredEvents()" />
      } @else {
        <app-event-card-grid [events]="filteredEvents()" />
      }

      <div #sentinel class="dashboard__sentinel"></div>

       @if (eventStore.isLoading()) {
        <div class="dashboard__loading">
          <span class="material-symbols-outlined spinning">progress_activity</span>
        </div>
       }
    </main>
  </div>

  <app-filter-drawer [nodes]="treeNodes()"/>
</section>
