<ul ngTree [nav]="true" #tree="ngTree" [values]="selected()" selectionMode="follow" class="basic-tree">
  <ng-template
    [ngTemplateOutlet]="treeNodes"
    [ngTemplateOutletContext]="{nodes: visibleTree(), parent: tree}"
  />
</ul>
<ng-template #treeNodes let-nodes="nodes" let-parent="parent">
  @for (node of nodes; track node.value) {
    <li
      ngTreeItem
      [parent]="parent"
      [value]="node.value"
      [label]="node.name"
      [disabled]="!!node.disabled"
      [(expanded)]="node.expanded"
      [class.tree-item--parent]="!!node.children"
      #treeItem="ngTreeItem"
      (click)="!node.children && onSelect([node.value])"
      (keydown.enter)="!node.children && onSelect([node.value])"
      (expandedChange)="!node.children && onSelect([node.value])"
    >
      <span aria-hidden="true" class="material-symbols-outlined expand-icon" translate="no">{{
        node.children ? 'chevron_right' : ''
      }}</span>
      @if (node.icon) {
        <app-settings-nav-icon class="node-icon" [name]="node.icon" />
      }
      {{ node.name }}
      <span
        aria-hidden="true"
        class="material-symbols-outlined selected-icon"
        translate="no"
        >check</span
      >
    </li>
    @if (node.children) {
      <ul role="group">
        <ng-template ngTreeItemGroup [ownedBy]="treeItem" #group="ngTreeItemGroup">
          <ng-template
            [ngTemplateOutlet]="treeNodes"
            [ngTemplateOutletContext]="{nodes: node.children, parent: group}"
          />
        </ng-template>
      </ul>
    }
  }
</ng-template>
