<form [formRoot]="passwordForm">
  <app-stateful-input
    type="password"
    label="{{ i18n.currentLabel }}"
    fieldId="currentPassword"
    [formField]="passwordForm.currentPassword"
  />
  <app-stateful-input
    type="password"
    label="{{ i18n.newLabel }}"
    fieldId="newPassword"
    [formField]="passwordForm.password"
  />
  <app-stateful-input
    type="password"
    label="{{ i18n.confirmLabel }}"
    fieldId="confirmNewPassword"
    [formField]="passwordForm.confirmPassword"
  />
  <button type="submit" class="accent-btn" [disabled]="passwordForm().submitting()">
    {{ i18n.button }}
  </button>
</form>
