<section id="email">
  <header>
    <h2>{{ i18n.email.email }}</h2>
    <p>{{ i18n.email.subtitle }}</p>
    <app-account-email />
  </header>
</section>

<section id="password">
  <header>
    <h2>{{ i18n.password.title }}</h2>
    <app-account-password />
  </header>
</section>

<section id="display-name">
  <header>
    <h2>{{ i18n.displayName.title }}</h2>
    <p>{{ i18n.displayName.subtitle }}</p>
    <app-account-display-name />
  </header>
</section>

<section id="identities">
  <header>
    <h2>{{ i18n.identities.title }}</h2>
    <p>{{ i18n.identities.subtitle }}</p>
    <app-account-identities />
  </header>
</section>

<section id="delete-account">
  <header>
    <h2>{{ i18n.deleteAccount.title }}</h2>
    <p>{{ i18n.deleteAccount.subtitle }}</p>
    <app-account-delete-account />
  </header>
</section>
