<section id="email">
  <header>
    <h2>Email</h2>
    <p>Changing it requires verification.</p>
    <form [formRoot]="emailForm">
      <app-stateful-input type="email" label="Current Email" fieldId="currentEmail" [formField]="emailForm.currentEmail" />
      <app-stateful-input type="email" label="New Email" fieldId="newEmail" [formField]="emailForm.newEmail" />
      <button type="submit" [disabled]="emailForm().submitting()">Change Email</button>
    </form>
  </header>

</section>

<section id="password">
  <header>
    <h2>Password</h2>
    <form [formRoot]="passwordForm">
      <app-stateful-input type="password" label="Current Password" fieldId="currentPassword" [formField]="passwordForm.currentPassword" />
      <app-stateful-input type="password" label="New Password" fieldId="newPassword" [formField]="passwordForm.password" />
      <app-stateful-input type="password" label="Confirm New Password" fieldId="confirmNewPassword" [formField]="passwordForm.confirmPassword" />
      <button type="submit" [disabled]="passwordForm().submitting()">Change Password</button>
    </form>
  </header>
</section>

<section id="display-name">
  <header>
    <h2>Display name</h2>
    <p>Used for display purposes. Can be changed at any time.</p>
    <form [formRoot]="displayNameForm">
      <app-stateful-input type="text" label="Current Display Name" fieldId="currentDisplayName" [formField]="displayNameForm.currentDisplayName" />
      <app-stateful-input type="text" label="New Display Name" fieldId="newDisplayName" [formField]="displayNameForm.newDisplayName" />
      <button type="submit" [disabled]="displayNameForm().submitting()">Change Display Name</button>
    </form>
  </header>
</section>

<section id="identities">
  <header>
    <h2>Identities</h2>
    <p>Manage linked accounts and social logins.</p>
    @for (item of identites(); track item.provider) {
      <div>
       <span>{{ item.provider }}</span>
       @if (item.isLinked) {
        <button (click)="userStore.disconnectIdentity(item.identity!.id)">Unlink</button>
       } @else {
        <button (click)="userStore.linkIdentity(item.provider)">Link</button>
       }
      </div>
    }
  </header>
</section>

<section id="delete-account">
  <header>
    <h2>Delete account</h2>
    <p>Deletes your account and all associated data. This action is irreversible.</p>
    <button (click)="userStore.deleteAccount()">Delete Account</button>
  </header>
